# General settings
ENVIRONMENT=development

# AI Project Settings
AI_PROJECT_ENDPOINT=<your-ai-project-endpoint>
AI_PROJECT_RESOURCE_ID=<your-project-resource-id>
AI_PROJECT_NAME=<your-ai-project-name>
AI_MODEL_DEPLOYMENT_NAME=<your-ai-model-deployment-name>
AI_MODEL_NAME=gpt-4.1-mini
AI_PROJECT_CONNECTION_NAME=rag-mcp-connection  # name of the project connection that points to the MCP tool

# Generative Model *gpt-4.1-mini()
AOAI_ENDPOINT=<your-generative-model-endpoint>
AOAI_KEY=<your-generative-model-key>
AOAI_DEPLOYMENT_NAME=<your-generative-model-deployment-name>

# Azure Blob Storage Settings
AZURE_STORAGE_CONNECTION_STRING=<your-storage-connection-string>
AZURE_STORAGE_CONTAINER=<your-container-name>

# Knowledge Source Defaults
KNOWLEDGE_SOURCE_NAME=ks-mypdf-v1
KNOWLEDGE_SOURCE_DESCRIPTION="Automated knowledge source from Blob containing my PDF"

# Knowledge Base Defautls
KNOWLEDGE_BASE_NAME=kb-mypdf-v1
KNOWLEDGE_BASE_DESCRIPTION="Agentic RAG knowledge base built from my PDF"
KNOWLEDGE_BASE_ANSWER_INSTRUCTIONS="Cite the PDF page for every statement, and keep answers concise."
KNOWLEDGE_BASE_RETRIEVAL_INSTRUCTIONS="Retrieve passages that match the user intent, prioritize the most recent sections, and keep citation metadata intact."

EMBEDDING_MODEL_DEPLOYMENT_NAME=text-embedding-3-large
EMBEDDING_MODEL_NAME=text-embedding-3-large

# Azure AI Search
AI_SEARCH_ENDPOINT=<your-ai-search-endpoint>
AI_SEARCH_KEY=<your-ai-search-apikey>
AI_SEARCH_INDEX_NAME=<your-ai-search-index-name>
